*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(226, 226, 248);
    background-image: url(backimg.svg);
    background-repeat: no-repeat;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom:50px;
    margin-left: 35%;
    border: 1px solid none;
    border-radius: 14px;
    width:33.3%;
    height: 66%;
    background-color: #fff;
    box-shadow: 0.5px 0.5px 10px rgb(193, 193, 252);
}

img{
    margin: 0;
    width:100%;
    padding: 0;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px; 
}

#order{
    text-align: center;
    font-weight: bold;
}

h3{
    color: rgb(24 24 77);
    text-align: center;
    padding-top: 5%;
}

.one{
    font-size: small;
    color: rgb(112, 112, 138);
    padding-right: 13%;
    padding-left: 13%;
}

.image{
    width: 46px;
    margin-right: 15px;
}

#join{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 21px;
    padding-bottom: 25px;
}

p{
    margin-right:30px ;
    font-weight: bold;
    font-size: small;
    color: rgb(24 24 77);
}

span{
    font-weight: bold;
    color:rgb(112, 112, 138);
}

button{
    width: 150px;
    height:35px;
    border-radius: 9px;
    font-size: 10.5px;
    font-weight: bold;
    color: white;
    background-color: rgb(89, 89, 248);
    border: 1px solid #fff;
}

button:hover{
    background-color: #fff;
    color: rgb(127, 127, 238);
    text-shadow: 0.2px 0.2px 1px rgb(89, 89, 248);
}

#pay button{
   display: flex;
   margin-top: 4px;
   align-items: center;
   width: 300px;
   padding-left: 90px;
}

#pay .ord{
    margin-bottom: 25px;
    padding-left: 110px;
}